.login-form{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    gap: 15px;
    margin: 50px 20px;
    padding-bottom: 15px;
}

.login-form input{
    width: 70%;
    padding: 7px;
    border: 1px solid rgb(168, 166, 166);
    margin-left: 15px;
}

.login-form button{
    width: 40%;
    background-color: rgba(246, 244, 248, 0.6);
    border: 1px solid rgb(214, 203, 224); 
    color: rgb(48, 48, 48);
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.login-form h2{
    margin-bottom: 10px;
}

.login-form p{
    margin-bottom: 0px;
    margin-top: 0px;
}

