.program-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.exercise-container{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.exercise-card{
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    gap: 10px;
    border: 2px solid rgba(246, 244, 248, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.exercise-card-details{
    justify-content: space-between;
}

.exercise-image-description{
    display: flex;
}

.exercise-card img{
    width: 80px;
    height: 80px;
    padding: 7px;
    border-radius: 8px;
    object-fit: contain;
    cursor: pointer;
}

.exercise-description{
    display: flex;
    flex-direction: column;
}

.exercise-description h5{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
}

.exercise-description p{
    margin-top: 0px;
    padding: 0px;
}

.timer-style{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 10px;
}

.timer-style p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
}

.workout-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.workoutandsave-button{
    background-color: rgba(246, 244, 248, 0.6);
    border: 1px solid rgb(214, 203, 224); 
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 15px;
    color: rgb(48, 48, 48);
    cursor: pointer;
}

.save-message{
    margin: 0px;
}

.start-paus-button{
    background-color: rgba(246, 244, 248, 0.6);
    border: 1px solid rgb(214, 203, 224); 
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 5px;
    color: rgb(48, 48, 48);
    cursor: pointer;
    width: 57px;
}

.gym-check-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgb(214, 203, 224);
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.gym-check-button.checked {
    background-color: rgb(159, 211, 159);
    border: 2px solid rgb(108, 156, 108);
}

/*zoomed image*/
.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.image-modal img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

@media (min-width: 500px){

    .exercise-container{
        align-items: center;
    }

    .exercise-card{
        width: 470px;
    }

    .timer-style{
        margin-right: 25px;
    }

    .program-image{
        height: 300px;
    }
}

@media (min-width: 1000px){

    .program-image{
        width: 65%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
        margin-left: 15px;
    }

    .workout-specific, .workout-details{
        display: flex;
    }

    .exercise-container{
        margin-top: 0px;
    }
}





