.program-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 40px;
}

.exercise-container{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 20px;
}

.exercise-card{
    display: flex;
    gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    border: 2px solid rgba(246, 244, 248, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.exercise-card img{
    width: 80px;
    height: 80px;
    padding: 7px;
    border-radius: 8px;
    object-fit: contain;
}


.exercise-description{
    display: flex;
    flex-direction: column;
}

.exercise-description h5{
    margin-bottom: 0px;
    font-family: Calibri;
    font-size: 18px;

}

.exercise-description p{
    margin-top: 0px;
    padding: 0px;
}

.timer-style{
    display: flex;
    flex-direction: column;
}

.timer-style p {
    margin-bottom: 0px;
    margin-top: 0px;
}




