.woukout-overview-section {
    display: flex;
    overflow-x: auto;       /* horisontall scroll */
    gap: 20px;                
    scrollbar-width: none; 
    padding: 70px 15px;
    background-color: rgba(246, 244, 248, 0.6);
}

.workout-type-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-bottom: 15px;
}

.workout-type-item h3, p {
    padding-left: 15px;
}

.workout-type-item h3{
    font-weight:500; 
    margin-bottom: 0px;
}

.workout-type-item button{
    margin-left: 20px;
}

.workout-type-item-image{
    border-radius: 8px;
    width: 250px;
}

.select-workout-button{
    background-color: rgba(246, 244, 248, 0.6);
    border: 1px solid rgb(214, 203, 224); 
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 15px;
    color: rgb(48, 48, 48);
    cursor: pointer;
}

.saved-workouts-card-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.back-button{
    background:none;
    border: none;
    padding-left: 20px;
    cursor: pointer;
}

.back-arrow{
    width: 20px;
    height: 20px;
    stroke: rgb(204, 204, 204);
    stroke-width: 2;
    transition: stroke 0.2s ease;
}

.back-button:hover .back-arrow {
    stroke: rgb(102, 102, 102);          
}

.workout-card-wrapper {
    position: relative;
    display: inline-block;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: rgb(116, 111, 111);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.delete-button:hover {
    font-size: 26px;
}

@media (min-width: 700px) {

    .saved-workouts-card-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (min-width: 820px) {

    .woukout-overview-section {
        justify-content: center;
    }
}
