body{
  margin: 0px;
}

h1 {
  font-family: "American Typewriter", "Courier New", Courier, monospace;
}

h2, h4, h5, h6{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(51, 51, 51);
}

h2{
  width: auto;
  padding: 0px 15px;
  font-size: 30px;
  font-weight: 300;
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(133, 121, 146); 
}

h4{
  font-size: 22px;
  padding: 15px 15px;
  margin: 0px;
  font-weight: lighter;
}

p {
    font-family: Calibri;
    font-weight: lighter;
}

/*FADE IN CSS*/
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/*HEADER*/

.header{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-top: 10px;
}

.img-text-header{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.buttons-header{
    display: flex;
}

.header img{
    height: 25px;
    width: 25px;
}

.header h1{
    font-size: 12px;
    margin-bottom: 0px;
}

.buttons-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.sign-in-button-header{
  background-color: rgba(246, 244, 248, 0.6);
  border: 1px solid rgb(214, 203, 224); 
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 15px;
  color: rgb(48, 48, 48);
  cursor: pointer;
}

.menu-button-header{
  background-color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  margin-right: 15px;
  color: rgb(214, 203, 224);
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  background-color: white;
  box-shadow: -4px 0 6px rgba(0,0,0,0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 30px;
  z-index: 1000;
}

.navbar.open {
  transform: translateX(0); /* Slide in */
  background-color: rgb(246, 244, 248);
}

.navbar a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  padding: 10px 0;
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .close-button {
  align-self: flex-end;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(143, 139, 139);
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 900;
}

/*HERO*/

.hero-container{
    margin-top: 10px;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
}

.hero-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color:rgb(243, 243, 243);
  position: absolute;
  bottom: 10px;
}

.hero-text h1{
  font-size: 25px;
  margin-bottom: 30px;
  padding-left: 15px;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
}

.hero-image.active {
  opacity: 0.8;
}

/*HOME*/

.home-first-section, .home-second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.highlight-word{
  font-weight: 500;
  color: rgb(133, 121, 146); 
}

.home-image-box{
  display: flex;
  justify-content: center;
  gap: 20px
}

.home-image{
    width: 45%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.mobile-home-description{
  margin: 60px 0px;
}

.desktop-home-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.desktop-home-layout h2 {
  margin-bottom: 0px;
  margin-top: 60px;
  font-weight: 300;
  color: rgb(41, 41, 41);
  font-size: 50px;
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.desktop-home-description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.desktop-home-description img{
  border-radius: 10px;
}

.desktop-home-description-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.desktop-home-description-text h4 {
  max-width: 500px; 
}

.home-scroll-section{
    display: flex;
    overflow-x: auto;       /* horisontell scroll */
    gap: 10px;              
    padding: 60px 15px;   
    scrollbar-width: none;
    overflow-y: hidden;
    background-color: rgba(246, 244, 248, 0.6);
}

.home-scroll-item {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin-right: 20px;
  width: 120px;
  height: 120px;
  scroll-snap-align: start;
  border-radius: 8px;
  border: 1px solid rgb(216, 214, 214);
  background-color: white;
}

.home-scroll-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  padding-top: 20px;
}

.home-scroll-text {
    max-width: 80%;
    text-align:center; 
    word-wrap: break-word;
    align-items: center;
    font-size: 12px;
    padding: 0px 7px;
}

.home-scroll-section div {
  padding-bottom: 10px; 
}

.workout-container h2{
    text-align: center;
}

.sign-up-button{
  background-color: rgba(246, 244, 248, 0.6);
  border: 1px solid rgb(214, 203, 224); 
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 25px;
  color: rgb(48, 48, 48);
  cursor: pointer;
}

.home-second-section{
  margin: 60px 0px;
}

/*WORKOUT OVERVIEW*/


.woukout-overview-section {
    display: flex;
    overflow-x: auto;       /* horisontell scroll */
    gap: 20px;                
    scrollbar-width: none; 
    /*margin-top: 50px;*/
    padding: 70px 15px;
    background-color: rgba(246, 244, 248, 0.6);
}

.workout-type-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-bottom: 15px;
}

.workout-type-item h3, p {
  padding-left: 15px;
}

.workout-type-item h3{
  font-weight:500; 
  margin-bottom: 0px;
}

.workout-type-item button{
  margin-left: 20px;
}

.workout-type-item-image{
    border-radius: 8px;
    width: 250px;
}

.select-workout-button{
  background-color: rgba(246, 244, 248, 0.6);
  border: 1px solid rgb(214, 203, 224); 
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 15px;
  color: rgb(48, 48, 48);
  cursor: pointer;
}

.saved-workouts-card-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*BACK ARROW DESIGN*/
.back-button{
  background:none;
  border: none;
  padding-left: 20px;
  cursor: pointer;
}

.back-arrow{
  width: 20px;
  height: 20px;
  stroke: rgb(204, 204, 204);
  stroke-width: 2;
  transition: stroke 0.2s ease;
}

.back-button:hover .back-arrow {
  stroke: rgb(102, 102, 102);          
}

@media (min-width: 465px) {

  .home-scroll-section{
    justify-content: center;
  }
}

@media (min-width: 700px) {

  .hero-section{
    height: 600px;
  }

  .home-scroll-item{
    width: 150px;
    height: 150px;
  }

  .home-image-box{
    display: flex;
    justify-content: center;
  }

  .home-image{
    width: 40%;
    border-radius: 8px;
  }

  h2{
    font-size: 40px;
    margin: 60px 0px;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-text h1{
    font-size: 45px;
}

.hero-text h2{
    font-size: 26px;
}

.navbar{
  padding: 50px;
}

.navbar a{
  font-size: 20px;
}

.saved-workouts-card-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 820px) {

  .woukout-overview-section {
    justify-content: center;
  }
}

@media (min-width: 1000px){

.home-image{
    width: 30%;
}

.home-scroll-section{
  margin-top: 100px;
}
}
